:root {
    --bg-color: #212F3C;
}

body {
    background-color: var(--bg-color);
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.input > input {
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}

.input > h1 {
    margin: 100px;
    padding: 0;
    color: white;
    font-style: italic;
}

.input > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #3498DB;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.input > button:hover {
    background-color: #2980B9;
}