:root {
    --bg-color: #212F3C;
}

body {
    background-color: var(--bg-color);
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top : 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: fixed;
    top: 25%;
    width: 100%;
    text-align: center;
}

.input > input {
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}

.input > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #3498DB;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.input > button:hover {
    background-color: #2980B9;
}

.container {
    display: block;
    position: fixed;
    top: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
  }

.container > h1 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
  
.list-container {
    max-height: 200px; /* Set the maximum height of the list container */
    overflow-y: auto; /* Enable vertical scrollbar */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #AED6F1;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    border: 1px solid #3498DB;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.chess-problem {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 20px;
}

.chess-problem > img {
    display: block;
    width: 20%;
}