
body {
    background-image: url("rules_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

a {
    color: black;
}

a:hover {
    color: #ff0000;
}

ol {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
