:root {
    --bg-color : #3B3B3B;
    --secondary-color : #3498DB;
}

body {
    background-color: var(--bg-color);
    color: white;
}

.header {
    overflow: hidden;
    background-color: var(--bg-color);
    padding : 20px 10px;
}

.header h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.header a {
    float: left;
    background-color: white;
    color: var(--secondary-color);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: var(--secondary-color);
    color: white;
}

.header-right {
    float: right;
}


.menus {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menus a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.menus a:hover {
    background-color: #2980B9;
}

.meme {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.join-us {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.join-us img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.join-us p {
    margin-left: 20px;
    font-size: 20px;
}